@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    font-family: 'Raleway', sans-serif; }

.sombra {
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    background-color: var(--blanco);
    padding: 4rem;
    border-radius: 1.2rem;
}

.contenedor {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}
.contenedor-presupuesto {
    margin-top: -5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(5rem);
}

.text-welcome {
    font-size: 38px;
    color: #fff;
    -webkit-text-stroke: 1.5px #383d52; }


.productos-destacados {
    font-size: 30px;
    text-shadow: 1px 5px 6px rgba(67, 67, 67, 0.64); }

.text-marcas {
    font-size: 30px; }
    
.product-item {
        border: 1px solid #dbdbdb; }
    
.product-img {
        position: relative;
        overflow: hidden; }
.product-type{
        font-size: 13px;
        opacity: 0.8;
}
        
.product-name{
        transition: all 0.3s ease-in-out;
}

.product-price{
    color: #511efa;
}
.rating{
    font-size: 13px;
}
.product-item{
    width: 450px;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.d-block {
    display: block !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

.col {
    flex: 100%;
}

.btns {
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out; 
}

.btns button {
    border: none;
    background-color: #272727;
    color: #fff;
    transition: all 0.3s ease-in-out; 
}

.btns button:hover {
    scale: 1.1;
    color: #815df7; 
}

.product-img:hover .btns {
    bottom: 0; 
}

.heart-icon {
        position: absolute;
        top: 16px;
        right: 15px;
        font-size: 18px;
}

.heart-icon:hover {
cursor: pointer;
scale: 1.2;
color: red;
}

